.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    object-fit: cover;
    margin-right: 12px;
}
.info {
    flex: 1;
}
.name {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkicon {
    font-size: 1.4rem;
    margin-left: 6px;
    color: rgb(23, 312, 236);
}

.username {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
